<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>点聚OFD</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>sword2_180*180.jpg</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>pdf</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adobe.pdf</string>
				<string>com.dianju.Realm.DJReader.aip</string>
				<string>com.dianju.Realm.DJReader.ofd</string>
				<string>com.microsoft.word.doc</string>
				<string>org.openxmlformats.wordprocessingml.document</string>
				<string>com.microsoft.powerpoint.ppt</string>
				<string>org.openxmlformats.presentationml.presentation</string>
				<string>com.microsoft.excel.xls</string>
				<string>org.openxmlformats.spreadsheetml.sheet</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>DJReader</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wxd60e5a883ae5d4fc</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.developer-tools</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>weixin</string>
		<string>DJReader</string>
		<string>weixinULAPI</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>App需要您的同意,才能访问蓝牙</string>
	<key>NSCameraUsageDescription</key>
	<string>App需要您的同意,才能访问相机</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>始终允许</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>需要允许</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>App需要您的同意,才能保存照片到相册</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>请允许APP访问您的相册</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>请允许获取并使用您的IDFA,该标识符将用于向您投放个性化广告</string>
	<key>UIAppFonts</key>
	<array>
		<string>苹方.ttc</string>
		<string>楷体.ttf</string>
		<string>仿宋.ttf</string>
		<string>宋体.ttc</string>
		<string>雅黑.ttf</string>
		<string>圆体.ttf</string>
		<string>隶书.ttf</string>
		<string>行楷.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchImageFile</key>
	<string>LaunchImage</string>
	<key>UIMainStoryboardFile~ipad</key>
	<string>Main_iPad</string>
	<key>UIMainStoryboardFile~iphone</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportsDocumentBrowser</key>
	<true/>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Molecules Structure File</string>
			<key>UTTypeIdentifier</key>
			<string>com.dianju.Realm.DJReader.aip</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>aip</string>
				<key>public.mime-type</key>
				<string>chemical/x-aip</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Molecules Structure File</string>
			<key>UTTypeIdentifier</key>
			<string>com.dianju.Realm.DJReader.ofd</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>ofd</string>
				<key>public.mime-type</key>
				<string>chemical/x-ofd</string>
			</dict>
		</dict>
	</array>
	<key>mtj_appkey</key>
	<string>f184e5365e</string>
	<key>mtj_debuglog</key>
	<string>0</string>
</dict>
</plist>
